// =========================== blog  nav ===========================
.blog {
  &_nav {
    display: none;

    span {
      font-size: 30px;
      &:hover{
      color: $primary-light;
      }
    }

    a:hover{
      color: $primary-light;
    }

    @include pad {
      display: flex;
    }
  }

  // =========================== blog ===========================

  &_list {
    margin-bottom: 24px;
  }

  img {
    margin-bottom: 8px;

    &:hover {
      opacity: 0.8;
    }
  }

  span {
    display: block;
  }

  &_date {
    opacity: 0.7;
  }

  &_content {
    display: none;
    color: #555555;
  }

  &_more {
    display: none;
    font-size: 36px;
    font-weight: 900;
    text-align: right;

    &:hover {
      color: $primary;
    }
  }

  @include pad {
    &_section {
      &_li {
        width: 48.5%;
      }
    }

    &_content {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }
  }

  @include pc {
    h3 {
      font-size: 20px;

      span {
        font-size: 32px;
      }
    }

    &_content {
      margin-top: 16px;
      font-size: 20px;
      -webkit-line-clamp: 5;
    }

    &_list {
      position: relative;
      margin-bottom: 60px;
    }

    &_more {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &_taglist {
    display: none;
    a:hover{
      box-shadow: 0 2px $primary-dark;
    }
  }

  &_article {
    color: #555555;
  }

  &_pagination {
    display: none;
    margin-top: 16px;
    margin-bottom: 64px;

    span {
      vertical-align: middle;
    }
  }

  &_share {
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #000;

    img {
      width: 24px;
    }
  }

  @include pad {
    &_tag {
      font-size: 24px;
    }

    &_title {
      margin-bottom: 24px;
      font-size: 24px;

      span {
        font-size: 48px;
      }
    }

    &_page {
      width: 72%;
    }

    &_article {
      img {
        margin-bottom: 16px;
      }

      p {
        margin-bottom: 24px;
      }
    }

    &_taglist {
      display: block;
      width: 24%;

      span {
        font-size: 24px;
        vertical-align: middle;
      }
    }

    &_pagination {
      display: block;
    }
  }

  @include pc {
    &_taglist {
      h4 {
        font-size: 32px;
      }

      span {
        font-size: 32px;
      }

      a {
        font-size: 24px;
      }
    }

    &_article {
      p {
        margin-bottom: 40px;
      }
    }

    &_pagination {
      width: 72%;
    }
  }

}