$primary:#AA0601;
$primary-dark:#650300;
$secondary:#FBF2F2;
// =========================== rwd ===========================

@mixin pad {
  @media (max-width:768px) {
    @content;
  }
}

@mixin pc{
  @media (max-width:1200px) {
    @content;
  }
}
// =========================== mixin ===========================

@mixin form {
  width: 100%;
  padding: 6px 12px;
  background-color: $secondary;
  border: 1px solid #000;
  font-size: 16px;
  line-height: 1.5;
}